<!DOCTYPE html>


<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">

	<th:block th:fragment="content">

		<div class="card h-100">
			<!-- Product image-->
			<img class="card-img-top"
				src="https://cdn.icon-icons.com/icons2/1993/PNG/512/frame_gallery_image_images_photo_picture_pictures_icon_123209.png"
				alt="..." />
			<!-- Product details-->
			<div class="card-body p-4">
				<div class="text-center">
					<!-- Product name-->
					<h5 class="fw-bolder">상품번호</h5>
					<!-- Product price-->
					가격
				</div>
			</div>
			<!-- Product actions-->
			<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
				<div class="text-center">
					<div class="text-center">
						<a class="btn btn-outline-dark mt-auto"
							th:href="@{/board/register}">상품등록</a>
					</div>
				</div>
			</div>
		</div>

		<div th:each="dto : ${list}" class="col mb-5">

			<div class="card h-100">
				<!-- Product image-->
				<img class="card-img-top"
					src="https://cdn.icon-icons.com/icons2/1993/PNG/512/frame_gallery_image_images_photo_picture_pictures_icon_123209.png"
					alt="..." />
				<!-- Product details-->
				<div class="card-body p-4">
					<div class="text-center">
						<!-- Product name-->
						<h5 th:href="@{/board/read(no=${dto.no})}" class="fw-bolder">[[${dto.no}]]</h5>
						<!-- Product price-->
						[[${dto.price}]]
					</div>
				</div>
				<!-- Product actions-->
				<div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
					<div class="text-center">
						<a class="btn btn-outline-dark mt-auto"
							th:href="@{/board/read(no=${dto.no})}">[[${dto.productName}]]</a>
					</div>
				</div>
			</div>
		</div>

		<script th:inline="javascript">
			
			$(document).ready(function(){
				console.log("asdasd");
				var msg = [[${msg}]];
				
				if(msg != null){
					alert(msg + "번 상품이 등록되었습니다.");
				}
				});
			
	
					
				
			
		</script>


	</th:block>

</th:block>