<!DOCTYPE html>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">



		<form>

			<div class="form-group">
				<input type="hidden" class="form-control" name="no"
					th:value="${dto.no}" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">상품명</span> <input type="text"
					class="form-control" name="productName"
					th:value="${dto.productName}" aria-label="productName">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">\</span> <input type="text"
					class="form-control" name="price" th:value="${dto.price}"
					aria-label="price">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">색상</span> <input type="text"
					class="form-control" name="color" th:value="${dto.color}"
					aria-label="color">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">상품설명</span>
				<textarea class="form-control" name="content"
					th:value="${dto.content}" aria-label="content"></textarea>
			</div>

			<div class="input-group mb-3">
				<input type="file" class="form-control" id="inputGroupFile01">
				<label class="input-group-text" for="inputGroupFile01">상품이미지</label>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">판매자</span> <input type="text"
					class="form-control" name="seller" th:value="${dto.seller}"
					aria-label="seller" readonly>
			</div>

			<div class="form-group">
				<label>등록일</label> <input type="text" class="form-control"
					th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}"
					readonly>
			</div>
			<div class="form-group">
				<label>수정일</label> <input type="text" class="form-control"
					th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}"
					readonly>
			</div>

		</form>

		<button type="button" class="btn btn-primary modifyBtn">수정</button>

		<button type="button" class="btn btn-danger removeBtn">삭제</button>
		
		<button type="button" class="btn btn-info listBtn">목록</button>
		
		

		<script th:inline="javascript">
			//$() 함수: CSS선택자로 HTML 태그를 가져온다
			var form = $("form"); //form 태그 객체 가져오기

			//click() 메소드 : 수정버튼을 클릭하면 특정코드를 수행한다
			//confirm() 메소드: 수정여부를 확인하는 창을 띄운다.
			//[확인]을 클릭하면, 서버에 게시물 수정을 요청한다.
			//[취소]를 선택하면 이벤트를 종료한다.
			$(".modifyBtn").click(
					function() {
						if (!confirm("수정하시겠습니까?")) {
							return;
						}

						//form~attr~submit: 서버에 게시물 수정 요청
						//폼태그는 PUT방식을 사용할 수 없으므로, POST방식으로 처리
						form.attr("action", "/board/modify").attr("method",
								"post").submit();
					});

			$(".listBtn").click(
					function() {
						form.attr("action", "/board/list")
								.attr("method", "get").submit();
					})
			$(".removeBtn").click(
					function() {
						if (!confirm("삭제하시겠습니까?")) {
							return;
						}
						form.attr("action", "/board/remove").attr("method",
								"post").submit();
					});
		</script>
	</th:block>

</th:block>