<!DOCTYPE html>


<head>


<style>
span {
	width: 95px;
}
</style>

</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">


		<h1>상품수정</h1>
		<form class="input-group mb-3" enctype="multipart/form-data">

			<div class="form-group">
				<input type="hidden" class="form-control" name="no"
					th:value="${dto.no}" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">상품명</span> <input type="text"
					class="form-control" name="productName"
					th:value="${dto.productName}" aria-label="productName">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">\</span> <input type="text"
					class="form-control" name="price" th:value="${dto.price}"
					aria-label="price">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">색상</span> <input type="text"
					class="form-control" name="color" th:value="${dto.color}"
					aria-label="color">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">상품설명</span>
				<textarea class="form-control" rows = "10" name="content"
					th:value="${dto.content}" aria-label="content"></textarea>
			</div>

			<div class="input-group mb-3">
				<input type="file" class="form-control" id="inputGroupFile01" name="file">

			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">판매자</span> <input type="text"
					class="form-control" name="seller" th:value="${dto.seller}"
					aria-label="seller" readonly>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">등록일</span> <input type="text"
					class="form-control"
					th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" readonly>
			</div>
			<div class="input-group mb-3">
				<span class="input-group-text">수정일</span> <input type="text"
					class="form-control"
					th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd')}" readonly>
			</div>

			<div class="input-group mb-3">
				<button type="button" class="btn btn-primary modifyBtn">수정</button>

				<button type="button" class="btn btn-danger removeBtn">삭제</button>

				<button type="button" class="btn btn-info listBtn">목록</button>
			</div>
		</form>





		<script th:inline="javascript">
			var form = $("form");

			$(".modifyBtn").click(
					function() {
						if (!confirm("수정하시겠습니까?")) {
							return;
						}

						form.attr("action", "/board/modify").attr("method",
								"post").submit();
					});

			$(".listBtn").click(
					function() {
						form.attr("action", "/board/list")
								.attr("method", "get").submit();
					})
			$(".removeBtn").click(
					function() {
						if (!confirm("삭제하시겠습니까?")) {
							return;
						}
						form.attr("action", "/board/remove").attr("method",
								"post").submit();
					});
		</script>
	</th:block>

</th:block>