<!DOCTYPE html>
<head>

<style>
.input-group-text {
	width: 95px;
}
</style>

</head>

<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">



		<div class="form-group">
			<input type="hidden" class="form-control" name="no"
				th:value="${dto.no}" readonly>
		</div>



		<div class="input-group mb-3">
			<span class="input-group-text">상품명</span> <input type="text"
				class="form-control" th:value="${dto.productName}" readonly>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">\</span> <input type="text"
				class="form-control" th:value="${dto.price}" readonly>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">색상</span> <input type="text"
				class="form-control" th:value="${dto.color}" readonly>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">상품설명</span>
			<textarea class="form-control" rows="10" readonly>[[${dto.content}]]</textarea>
		</div>

		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">판매자</span> <input type="text"
				class="form-control" th:value="${dto.seller}" readonly>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">등록일</span> <input type="text"
				class="form-control"
				th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd')}" readonly>
		</div>

		<div class="input-group mb-3">
			<span class="input-group-text">수정일</span> <input type="text"
				class="form-control"
				th:value="${dto.modDate !=null ? #temporals.format(dto.modDate, 'yyyy/MM/dd'): ''}"
				readonly>
		</div>
		
		<div class="form-group">
            <label>상품이미지</label>
            <img th:src="@{/uploadfile/banana.png}">
        </div>


		<div class="input-group mb-3">
			<a th:href="@{/board/modify(no = ${dto.no})}">
				<button type="button" class="btn btn-primary">수정</button>
			</a> 
			<a th:href="@{/board/list(page=${page})}">
				<button type="button" class="btn btn-info">목록</button>
			</a>
		</div>






	</th:block>

</th:block>