<!DOCTYPE html>
		<head>


<style>



</style>

		</head>


<th:block th:replace="~{/layout/basic :: setContent(~{this::content})}">
	<th:block th:fragment="content">



		<form th:action="@{/board/register}" th:method="post">



			<div class="input-group mb-3">
				<span class="input-group-text">상품명</span> <input type="text"
					class="form-control" name="productName" aria-label="productName">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">\</span> <input type="text"
					class="form-control" name="price" aria-label="price">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">색상</span> <input type="text"
					class="form-control" name="color" aria-label="color">
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">상품설명</span>
				<textarea class="form-control" name="content" aria-label="content"></textarea>
			</div>

			<div class="input-group mb-3">
				<input type="file" class="form-control" id="inputGroupFile01">
				<label class="input-group-text" for="inputGroupFile01">상품이미지</label>
			</div>

			<div class="input-group mb-3">
				<span class="input-group-text">판매자</span> <input type="text"
					class="form-control" name="seller" aria-label="seller">
			</div>

			<button type="submit" class="btn btn-primary">등록</button>
		</form>
	</th:block>

</th:block>